<div class="section" id="education">
    <div class="container cc-education">
      <div class="h4 text-center mb-4 title">Education</div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2021 - 2024</p>
              <div class="h5">University</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">National Degree in computer Science</div>
               <h4 class="category">INSTITUE SUPERIEUR D'INFORAMTIQUE ET MULTIMEDIA GABES
               </h4>
               <ul>
                <li> The University was mainly focus on the bases of developement </li>
                   
             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2018 - 2021</p>
              <div class="h5">Higher Secondary</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Higher Secondary</div>
               <h4 class="category">MEDNINE-IBN KHALDOUN HIGHER SECONDARY
               </h4>
               <ul>
                <li>
                  The high school was mainly focus on the bases of science, mathematics, and chemistry
                                  </li>
                                  <li>
                                    Completed my high school with <b>Rate'AVERAGE'</b>.
                                  </li>
                                  
             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2015 - 2018</p>
              <div class="h5">Sedcondary School</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Secondary School</div>
               <h4 class="category">HAY RAJA SECONDARY SCHOOL
               </h4>
               <ul>
                <li>The Secondary aims at Maths , English , Science, Social Science, Litrature and Languages.
                </li>
               
                <li>
                  Completed my secondary school with <b>Rate'GOOD'</b>
                </li>
             </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>